.container {
  width: 80%;
  margin: auto;
  padding-top: 30px;
  box-sizing: border-box;

  .title {
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
  }

  .bodyOuterBox {
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;

    .bodyTitle {
      // border: 1px solid #ccc;
      margin-bottom: 10px;
    }

    .bodyContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-between;
      align-items: center;

      .items {
        width: var(--w);
        height: var(--w);
        border: 1px solid red;
        transition: all .3s;

        &.active {
          background-color: red;
          // transition: none;
        }
      }
    }
  }
}